./target
.classpath
.project
.settings

archervsworld-android/target
archervsworld-android/.classpath
archervsworld-android/.project
archervsworld-android/.settings
archervsworld-android/libs/
archervsworld-android/.externalToolBuilders/
archervsworld-android/gen/
archervsworld-android/bin
archervsworld-android/project.properties

archervsworld-core/target
archervsworld-core/.classpath
archervsworld-core/.project
archervsworld-core/.settings

archervsworld-desktop/target
archervsworld-desktop/.classpath
archervsworld-desktop/.project
archervsworld-desktop/.settings

